.unowned-mouse-in {
  animation-name: unowned-dark;
  animation-duration: 0.5s;
  background-color: #717171 !important; }

.unowned-mouse-out {
  animation-name: unowned-light;
  animation-duration: 0.5s;
  background-color: gray !important; }

@keyframes unowned-light {
  from {
    background-color: #717171; }
  to {
    background-color: gray; } }
@keyframes unowned-dark {
  from {
    background-color: gray; }
  to {
    background-color: #717171; } }
#lemonadeStand, #lemonadeStandBottom {
  background: #F2DC38; }

.lemonadeStand-mouse-in {
  animation-name: lemonadeStand-dark;
  animation-duration: 0.5s;
  background-color: #f0d71b !important; }

.lemonadeStand-mouse-out {
  animation-name: lemonadeStand-light;
  animation-duration: 0.5s;
  background-color: #F2DC38 !important; }

@keyframes lemonadeStand-light {
  from {
    background-color: #f0d71b; }
  to {
    background-color: #F2DC38; } }
@keyframes lemonadeStand-dark {
  from {
    background-color: #F2DC38; }
  to {
    background-color: #f0d71b; } }
.newsPaperDelivery-mouse-in {
  animation-name: newsPaperDelivery-dark;
  animation-duration: 0.5s;
  background-color: #d5cdc9 !important; }

.newsPaperDelivery-mouse-out {
  animation-name: newsPaperDelivery-light;
  animation-duration: 0.5s;
  background-color: #E2DDDA !important; }

@keyframes newsPaperDelivery-light {
  from {
    background-color: #d5cdc9; }
  to {
    background-color: #E2DDDA; } }
@keyframes newsPaperDelivery-dark {
  from {
    background-color: #E2DDDA; }
  to {
    background-color: #d5cdc9; } }
.carWash-mouse-in {
  animation-name: carWash-dark;
  animation-duration: 0.5s;
  background-color: #4caaec !important; }

.carWash-mouse-out {
  animation-name: carWash-light;
  animation-duration: 0.5s;
  background-color: #68B7EF !important; }

@keyframes carWash-light {
  from {
    background-color: #4caaec; }
  to {
    background-color: #68B7EF; } }
@keyframes carWash-dark {
  from {
    background-color: #68B7EF; }
  to {
    background-color: #4caaec; } }
.pizzaDelivery-mouse-in {
  animation-name: pizzaDelivery-dark;
  animation-duration: 0.5s;
  background-color: #912004 !important; }

.pizzaDelivery-mouse-out {
  animation-name: pizzaDelivery-light;
  animation-duration: 0.5s;
  background-color: #AF2705 !important; }

@keyframes pizzaDelivery-light {
  from {
    background-color: #912004; }
  to {
    background-color: #AF2705; } }
@keyframes pizzaDelivery-dark {
  from {
    background-color: #AF2705; }
  to {
    background-color: #912004; } }
.donutShop-mouse-in {
  animation-name: donutShop-dark;
  animation-duration: 0.5s;
  background-color: #e88118 !important; }

.donutShop-mouse-out {
  animation-name: donutShop-light;
  animation-duration: 0.5s;
  background-color: #EB9034 !important; }

@keyframes donutShop-light {
  from {
    background-color: #e88118; }
  to {
    background-color: #EB9034; } }
@keyframes donutShop-dark {
  from {
    background-color: #EB9034; }
  to {
    background-color: #e88118; } }
.increaseSize {
  animation-name: increase;
  animation-duration: 5s; }

@keyframes increase {
  from {
    width: 30px;
    height: 30px; }
  to {
    width: 50px;
    height: 50px; } }
body {
  background: #746862;
  font-family: "Cinzel", serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.row {
  display: flex;
  margin-bottom: 15px; }

.center {
  justify-content: center; }

#left, #right {
  width: 50%; }

.box {
  color: #403332;
  border-radius: 10px;
  cursor: pointer;
  width: 20%;
  font-size: 10px;
  margin-right: 5px;
  height: 50px;
  line-height: 50px;
  padding: 0; }

.box p {
  margin: 0;
  padding: 0; }

.unowned {
  background: gray; }

.box p {
  display: flex;
  justify-content: center; }

.second {
  margin-top: -10px; }

.circle {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: white;
  margin-left: -40px;
  margin-top: 30px;
  border: 2px solid white;
  text-align: center;
  line-height: 0px;
  cursor: pointer; }

/*# sourceMappingURL=main.css.map */
