$body-bg: #746862;
$ff: 'Cinzel', serif;
$box-color: #403332;
$box-height: 50px;

@import 'animations';

body{
  background: $body-bg;
  font-family: $ff;
  -webkit-user-select: none;       
  -moz-user-select: none;
  -ms-user-select: none;
}

.row{
  display: flex;
  margin-bottom: 15px;
}

.center{
  justify-content: center;
}

#left, #right{
  width: 50%;
}

.box{
  color: $box-color;
  border-radius: 10px;
  cursor: pointer;
  width: 20%;
  font-size: 10px;
  margin-right: 5px;
  height: 50px;
  line-height: 50px;
  padding: 0;
}

.box p{
  margin: 0;
  padding: 0;
}

.unowned{
  background: $unowned-bg;
}

.box p{
  display: flex;
  justify-content: center;
}

.second{
  margin-top: -10px;
}

$circleSize: 30px;

.circle{
  position: absolute;
  width: $circleSize;
  height: $circleSize;
  border-radius: 100%;
  background: white;
  margin-left: -40px;
  margin-top: 30px;
  border: 2px solid white;
  text-align: center;
  line-height: $circleSize - 30;
  cursor: pointer;
}