$body-bg: #746862;
$ff: 'Cinzel', serif;
$box-bg: #897D77;
$box-color: #403332;

body{
  background: $body-bg;
  font-family: $ff;
  -webkit-user-select: none;       
  -moz-user-select: none;
  -ms-user-select: none;
}

.row{
  display: flex;
}

.center{
  justify-content: center;
}

#left, #right{
  width: 50%;
}

.box{
  background: $box-bg;
  color: $box-color;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
}

.box-mouse-in{
  animation-name: dark;
  animation-duration: 0.5s;
  background-color: darken($box-bg, 4%);
}

.box-mouse-out{
  animation-name: light;
  animation-duration: 0.5s;
  background-color: $box-bg !important;
}

@keyframes light{
  from{
    background-color: darken($box-bg, 4%);
  }
  to{
    background-color: $box-bg;
  }
}

@keyframes dark {
  from{
    background-color: $box-bg;
  }
  to{
    background-color: darken($box-bg, 4%);
  }
}

.box p{
  display: flex;
  justify-content: center;
}

.second{
  margin-top: -10px;
}