head
    title AdVenture Capitalist Clone
    link(rel='../shortcut icon', type='image/x-icon', href='img/favicon.ico')
    link(href="https://fonts.googleapis.com/css?family=Cinzel", rel="stylesheet")
    link(rel="stylesheet", href="../stylesheets/css/main.css")
    
body
    div#game
        p#counter
        div.row#firstRow
        div.row#secondRow
        
    script(src="../scripts/build_page.js")
    script(src="../scripts/main.js")